
<!DOCTYPE html>
<html>
<head>
	<title>
	</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style4.css') }}">
</head>
<body>
<form action="{{ url_for('podaci') }}" method="post">
    <input type="text" name="grad" value = '{{ grad }}'>
    <input type="submit" value='Izaberi grad'>
</form>
		<div class='row'>
			<div class='col-3'>temperatura</div>
			<div class='col-3'>{{ stanje.temperatura }}</div>
			<div class='col-3'>temperatura</div>
			<div class='col-3'>{{ stanje.pritisak }}</div>
			<div class='col-3'>temperatura</div>
			<div class='col-3'>{{ stanje.vlaznost }}</div>
			<div class='col-3'>temperatura</div>
			<div class='col-3'>{{ stanje.vetar }}</div>
			<div class='col-3'>temperatura</div>
			<div class='col-3'>{{ stanje.opis }}</div>
			<div class='col-3'>temperatura</div>
			<div class='col-3'>{{ stanje.temperatura }}</div>
			<div class='col-3'>temperatura</div>
			<div class='col-3'>{{ stanje.temperatura }}</div>
			<div class='col-3'>temperatura</div>
			<div class='col-3'>{{ stanje.temperatura }}</div>
		</div>
<form action="{{ url_for('plus') }}" method="post">
    <input type="text" name="grad" value = '{{ grad }}'>
    <input type="submit" value='3h unapred'>
</form>
<form action="{{ url_for('minus') }}" method="post">
    <input type="text" name="grad" value = '{{ grad }}'>
    <input type="submit" value='3h unazad'>
</form>
</body>
</html>