
<!DOCTYPE html>
<html>
<head>
  <p hidden id='k'>{{ stanje.k }}</p>
	<title>{{ stanje.grad }}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='prog44.css') }}">
</head>
<body>

	<div class="header">
  <h2>Weather</h2>
  </div>

  <fieldset>
  	<form id='choose' method="post">
      <input id='input' type="text" name="grad" value = '{{ stanje.grad }}' onclick="reseting_f()">
      <input id ='grad' type="submit" value='Choose' onclick="blank_f()">
      <input id='plus' type="submit" value='3h ahead' onclick="ahead_f()">
      <input id='minus' type="submit" value='3h back' onclick="back_f()">
  	</form>
  </fieldset>

  <script> 
      function reseting_f() {
        document.getElementById('input').value=''; 
        document.getElementById('input').placeholder='Belgrade'
        } 
      function blank_f() {
        if (document.getElementById('input').value.length==0) 
        {document.getElementById('choose').action = "{{ url_for('podaci', grad='Belgrade', k=0)}}"}
        else 
        {
        var grad_cod=document.getElementById('input').value;
        document.getElementById('choose').action = "{{ url_for('podaci', grad='Belgrade', k=0)}}".replace('Belgrade',grad_cod)}        
        } 
      function ahead_f() {
        if (document.getElementById('input').value.length==0) 
        {
        var broj=document.getElementById('k').innerHTML;
        var b=parseInt(broj)+1;
          if (b==40) var b=39;     
        document.getElementById('choose').action="{{ url_for('podaci', grad='Belgrade', k=0)}}".replace(0,b);
        }  
        else 
        {
        var grad_cod=document.getElementById('input').value;
        var broj=document.getElementById('k').innerHTML;
        var b=parseInt(broj)+1;
          if (b==40) var b=39;
        document.getElementById('choose').action="{{ url_for('podaci', grad='Belgrade', k=0)}}".replace('Belgrade',grad_cod).replace(0,b);}        
        } 
      function back_f() {
        if (document.getElementById('input').value.length==0) 
        {
        var broj=document.getElementById('k').innerHTML;
        var b=parseInt(broj)-1;
          if (b==-1) var b=0;
        document.getElementById('choose').action = "{{ url_for('podaci', grad='Belgrade', k=0)}}".replace(0,b);
        }
        else 
        {
        var grad_cod=document.getElementById('input').value
        var broj=document.getElementById('k').innerHTML;
        var b=parseInt(broj)-1;
          if (b==-1) var b=0;
        document.getElementById('choose').action="{{ url_for('podaci', grad='Belgrade', k=0)}}".replace('Belgrade',grad_cod).replace(0,b);
        }        
        } 
  </script>

  <div class='datum'>
  	<p><b>{{ stanje.datum.strftime('%B %d, %A') }}, {{ stanje.datum.strftime('%H:%M') }}h</b></p>
  </div>

  <div class="big">
    <div class="column1" >
      <div><h3>Temperature</h3></div>
    	<div class='row'><h1>{{ stanje.temperatura }} <sup>o</sup>C</h1></div>
      <div class='uv'>
        <br>
        <div><h3>Noon UV index</h3></div>
        <div><h1>{{ stanje.uv[0] }} - <samp>{{ stanje.uv[2] }}</samp></h1></div>
        <!--<div><h1>{{ stanje.uv[0] }} - <samp style='color:{{ stanje.uv[1] }}'>{{ stanje.uv[2] }}</samp></h1></div>-->
      </div>
    	</div>
    <div class="column2" >
      <div class='row'><h1>{{ stanje.opis }}</h1></div>
      <br>
      <div class='row'>
  			<img src="{{ 'https://flask-prognoza.s3.eu-central-1.amazonaws.com/static/icone/' + stanje.ikona + '.png'}}" width=150px>
        
      </div>
  	</div>
    <div class="column3" >
      
        <div><h3>Wind speed</h3></div>
    	<div class='row'><h1>{{ stanje.vetar }} Km/h</h1></div>
    
    <div class='uv'>
        <br>
        <div><h3>Humidity</h3></div>
        <div><h1>{{ stanje.vlaznost }}%</h1></div>
      </div>
    </div>
    <div class="column4">
      <svg class='stub'>
        <polygon points="200,200 204,200 208,350 196,350" style="fill:#003366;stroke:#003366;stroke-width:1" />
      </svg>
      <svg class='kruzic'>
        <circle  cx='202' cy='193' r="4" stroke="black" stroke-width="1" fill="#003366" />
      </svg>
      <svg class='pero' style='animation-duration:{{ 100/(stanje.vetar+0.01) }}s'>
        <polygon points="202,185 198,157 202,113 " style="fill:#003366;stroke:#003366;stroke-width:1" />
      </svg>
      <svg class='pero' style='animation-duration:{{ 100/(stanje.vetar+0.01)}}s'> 
        <polygon points="195,198 180,212 133,233" style="fill:#003366;stroke:#003366;stroke-width:1" />
      </svg>
      <svg class='pero' style='animation-duration:{{ 100/(stanje.vetar+0.01) }}s'>
        <polygon points="209,198 242,211 271,233" style="fill:#003366;stroke:#003366;stroke-width:1" />
      </svg >
    </div>
  </div>

  <div class="footer">
    <p>by Marko Pavlović</p>
  </div>

</body>
</html>
				
